﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/* This stylesheet combines the style of bootstrap with separate classes for overwriting the style*/

.active {
    color: lightgray !important;
}

.pagination-button {
    padding: 0 2rem 0 2rem;
    margin: 0;
    background-color: transparent;
}

.btn-danger {
    background-color: #e20076 !important;
}


/* Extra small devices (phones, 600px and down)  and (orientation: portrait) */
@media only screen and (max-width: 600px) and (orientation: portrait) {

    html, body {
        /*font-family: 'Circular', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 24px;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: none;
        -webkit-font-smoothing: subpixel-antialiased;
        /* Scrollbar hidden */
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
 
    /*Logo*/
    .logo {
        margin-left: 0.6rem;
    }
    .nav-link {
        display:block;
        margin-top: 0.4rem !important;
    }
    #logout_text {
        font-size: 0.6rem !important;
        z-index: 99;
    }

        #logout_text:hover {
            color: #027AB6;
        }
    #navbarSupportedContent, .fixed-bottom, .fixed-top {
        background-color: #0099dc;
    }
  
    .nav-container {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-evenly !important;
    }
       /*Block element */
        .nav-item {
            display: block !important;
            justify-content: space-evenly !important;   
            color: white;
        }
            .nav-item-icon {
                display: block !important;
                text-align: center;
                font-size: 0.9rem !important;
            }
            .nav-item-text {
                display:block !important;
                font-size: 0.6rem !important;
                text-align: center;
            }

    /*Main container*/
    .container {
        padding: 0rem !important;
    }

    /*"Arkiver alle" button*/
    .btn {
        width: 40% !important;
        color: white !important;
        height: 1.2rem !important;
        font-size: 0.5rem !important;
        margin-right: 0.6rem !important;
        margin-top: 0.1rem !important;
        text-transform: none !important;
        padding-top: 0.3rem !important;
    }

    /*Settings page*/
    /**To make switches and text at the same line*/
    .list-group-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 0;
    }
   
    /*Blazor Toast styling*/
    .blazored-toast {
        display: flex;
        position: relative;
        flex-direction: row;
        animation: fadein 1.5s;
        margin-bottom: 1rem;
        padding: 1rem 1.25rem;
        color: #fff;
        width: 100vw;
        box-shadow: rgba(0,0,0,0.25) 0px 10px 40px;
        margin-top: 3rem !important;
    }
            .blazored-toast-info {
            }

            .blazored-toast-container {
      
            }

            .blazored-toast-header {
            }

            .blazored-toast-heading {
                font-size: 1rem !important;
            }

            .blazored-toast-close {
            }

            .fa-info:before {
                font-size: 2rem !important;
            }

            .blazored-toast-message {
                margin-top: 1rem;
                font-size: 0.7rem;
            }

    h1 {
        font-size: 0.9rem;
    }
    .h1-notification{
        padding-left: 1rem !important;
    }

    h2 {
        font-size: 0.8rem;
    }

    h3 {
        font-size: 0.7rem;
    }

    p {
        font-size: 0.6rem;
    }

    small {
        font-size: 0.5rem;
    }

    .btn-primary {
        background-color: #0099dc !important;
    }
    /* Sign in with Microsoft section */
    .sign-in-box {
        top: 0;
        border: 0px solid #8C8C8C;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
        padding: 0rem;
        font-size: 0.8em;
        margin-left: auto;
        margin-right: auto;
    }
        .sign-in-header {
            font-weight: 600;
            font-size: 2.2rem;
            text-align: center;
            color: #027AB6;
            text-align: center;
            justify-content: center;
            margin-bottom: 0.0rem;
        }

        .h3 {
            margin-top: 0.6rem;
            font-size: 1.2rem;
        }

        .sign-in-label {
            font-size: 0.8rem;
            margin-top: 0.1rem;
            font-weight: 300;
            margin-bottom: 0.4rem;
            text-align: center;
            justify-content: center;
            color: #027AB6;
            color: #333;
        }
        .sign-in-button {
            margin-top: 0.8rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 600;
            color: #5E5E5E;
            background-color: white;
            border: 1px solid #8C8C8C;
            display: flex;
            align-items: center;
            font-size: 0.7rem;
            justify-content: center;
            height: 2.1rem;
            width: calc((100vw/100)*70) !important;
            margin-left: auto;
            margin-right: auto;
            margin-top:0.2rem;
            border-radius: 0 !important;
        }
            .sign-in-button:hover {
                background-color: #027AB6;
                color: white;
            }
            .sign-in-button::before {
                content: url("../images/ms-logo.svg");
                margin-right: 0.7rem;
                margin-left: 0em;
                margin-top:0.2rem;
                transform: scale(1.5);
                display: flex;
                vertical-align:baseline;
                align-items: center;
            }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px and ) and (orientation: landscape) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (orientation: landscape) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) (max-width: 1200px) and (orientation: landscape) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (orientation: landscape) {

    html, body {
        /*font-family: 'Circular', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 24px;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: none;
        -webkit-font-smoothing: subpixel-antialiased;
        /* Scrollbar hidden */
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    #navbarSupportedContent, .fixed-top {
        background-color: #0099dc;
    }

    .navbar {
        height: 2rem !important;
        display: flex;
    }

    /* Side menu */
    .fixed-bottom {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 0rem;
        width: 6.6rem;
        height: 100vh !important;
        flex-direction: column;
        background-color: rgb(0,153,220, 0.98);
        z-index: 1;
    }

    .nav-container {
       text-align:left !important;
       margin-top:2.5rem;
       margin-left:0.0rem;
    }

        .nav-item {
            display: block !important;
            white-space: nowrap;
            padding: 0px 10px;
            margin:0rem !important;
            margin-bottom:0.15rem !important;
            width: 100% !important;
            text-align: left !important;
        }
            .nav-item-icon {
                color: white !important;
                font-size: 0.5rem !important;
                padding-right:0rem !important;
                margin-left:0.4rem !important
            }

            .nav-item-text {
                font-family: arial !important;
                font-weight: 400;
                
                letter-spacing: 0.01rem;
                letter-spacing: 0.5px;
                font-size: 0.58rem !important;
                color: white !important;
                text-align:left !important;
            }
    .nav-item:hover {
        text-decoration-color: black !important;
        background-color: #027AB6 !important;
    }
    /*Logo*/
    .logo {
        margin-left: 0.8rem;
    }
    /*Logout button*/
    .nav-link {
        font-family: arial!important;    
        letter-spacing: 0.01rem;
        font-weight: 400;
        margin-right: 1rem;
    
    }
    #logout_text {
        font-size: 0.6rem !important;
    }
        #logout_text:hover {
            color: #027AB6;
        }


    h1 {
        font-size: 1.2rem;
        padding-left: 0rem !important;
    }

    h2 {
        font-size: 1.1rem;
    }

    h3 {
        font-size: 1.0rem;
    }

    p {
        font-size: 0.8rem;
    }

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    /*Main container*/
    .container {
        padding: 0rem !important;
        width: 60% !important;
    }

    .shadow-sm {
        padding-top: 0rem !important;
    }
       
  
    /*"Arkiver alle" button*/
    .btn {
        width: 16% !important;
        color: white !important;
        height: 1.2rem !important;
        font-size: 0.5rem !important;
        margin-right: 0rem !important;
        margin-top: 0.1rem !important;
        text-transform: none !important;
        padding-top: 0.3rem !important;
    }

    /**to make switches and text at the same line*/
    .list-group-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 0;
    }

    a {
        color: white;
    }

    /* stop footer and header from overflowing content */
    body {
        margin-bottom: 9vh;
        margin-top: 5vh;
    }

        /* Hide scrollbar for Chrome, Safari and Opera */
        body::-webkit-scrollbar {
            display: none;
        }

    /*.bg-primary {
    background-color: #027ab6 !important;
}*/

    .btn {
        border-radius: 2em;
    }

    .text-primary {
        color: #0099dc !important;
    }

    .text-secondary {
        color: #d3d3d3 !important;
    }

    .bg-primary {
        background-color: #0099dc !important;
    }

    /* Sign in with Microsoft section */
    .sign-in-box {
        top: 0;
        border: 0px solid #8C8C8C;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 40vh;
        text-align: center;
        padding: 0rem;
        font-size: 0.8em;
        margin-left: auto;
        margin-right: auto;
    }

        .sign-in-header {
            font-weight: 600;
            font-size: 2.2rem;
            text-align: center;
            color: #027AB6;
            text-align: center;
            justify-content: center;
            margin-bottom: 0.0rem;
        }

        .h3 {
            margin-top: 0.9rem;
            font-size: 2rem;
        }

        .sign-in-label {
            font-size: 0.6rem;
            margin-top: 0.1rem;
            font-weight: 400;
            margin-bottom: 0.2rem;
            text-align: center;
            justify-content: center;
            color: #027AB6;
            color: #333;
        }


        .sign-in-button {
            margin-top: 0.8rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 600;
            color: #5E5E5E;
            background-color: white;
            border: 1px solid #8C8C8C;
            display: flex;
            align-items: center;
            font-size: 0.6rem;
            justify-content: center;
            height: 1.5rem;
            width: 26%;
            margin-left: auto;
            margin-right: auto;
            margin-top:0rem;
            border-radius: 0 !important;
        }

            .sign-in-button:hover {
                background-color: #027AB6;
                color: white;
            }


            .sign-in-button::before {
                content: url("../images/ms-logo.svg");
                margin-right: 0.5rem;
                margin-left: 0em;
                margin-top:0.2rem;
                transform: scale(1.1);
                display: flex;
                align-items: center;
            }

    .blazored-toast {
        display: flex;
        position: relative;
        flex-direction: row;
        animation: fadein 1.5s;
        margin-bottom: 1rem;
        padding: 1rem 1.25rem;
        color: #fff;
        width: 30vw !important;
        box-shadow: rgba(0,0,0,0.25) 0px 10px 40px;
    }

    .blazored-toast-container {
        margin-top: 0.2rem !important;
        margin-left: 10rem !important;
    }

    .blazored-toast-heading {
        font-size: 0.8rem !important;
    }

    .blazored-toast-close {
        font-size: 0.8rem !important;
    }

    .blazored-toast-message {
        margin-top: 1rem;
        font-size: 0.6rem !important;
    }
}
