﻿@page "/archive"
@page "/archive/{index:int}"
@using Microsoft.AspNetCore.Authorization
@using Temblar.Client.Shared
@using Temblar.Shared.DTOs

@attribute [Authorize]

@inject Temblar.Client.Services.NotificationService notificationService
@inject Temblar.Client.Services.TemblarAppState appState

<Animate Animation="Animations.FadeRight" Duration="TimeSpan.FromSeconds(0.2)">

    <SubHeader Title="Arkiv" LastPage=@LastPage Index=@Index StateChanged="HandleStateChanged"></SubHeader>
    @foreach (var item in PageItems)
    {
        <NotificationComponent 
                               isRead="true" 
                               pushNotificationDto="item" 
                               >
        </NotificationComponent>
    }
    @if (appState.readNotifications.Count == 0)
    {
        <div style="position: absolute; left: 50%;">
            <small style="position: relative; left: -50%;">Ingen leste notifikasjoner ennå...</small>
        </div>
    }
</Animate>

    @code {
        [Parameter]
        public int Index { get; set; }

        public List<PushNotificationDto> PageItems { get; set; } = new List<PushNotificationDto>();

        public int LastPage { get; set; } = 0;

        protected override async Task OnInitializedAsync()
        {
            try
            {
                await appState.loadTemblarAppState();

                await notificationService.MyNotificationsArchive();

                await appState.setTemblarAppState();
            }
            catch (Exception e)
            {
                Console.WriteLine(e.Message);
            }

            if(appState.readNotifications.Count > 0)
            {
                PageItems = appState.readNotifications.Skip(Index * 10).Take(10).ToList();
                LastPage = (int)Math.Ceiling(Convert.ToSingle(appState.readNotifications.Count) / 10) - 1;
            }

        }

        public async Task HandleStateChanged(int index)
        {
            PageItems = appState.readNotifications.Skip(index * 10).Take(10).ToList();
            StateHasChanged();
        }



    }
