﻿@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.SignalR.Client
@using Temblar.Shared.Models
@using Temblar.Client.Shared
@using Temblar.Client.Services 
@attribute [Authorize]

@using Temblar.Shared.DTOs
@inject Temblar.Client.Services.NotificationService notificationService
@inject Temblar.Client.Services.AuthorizationService authService
@inject IJSRuntime JSRuntime
@inject HttpClient http
@inject Temblar.Client.Services.TemblarAppState appState
@inject Temblar.Client.Services.StorageService storageService
@using BlazorAnimate
@using Blazored.Toast
@using Blazored.Toast.Services
@using Blazored.Toast.Configuration
@inject WindowService WindowService
@inject IToastService toastService


<BlazoredToasts Position="ToastPosition.TopCenter"
                Timeout="1000"
                IconType="IconType.FontAwesome"
                InfoClass="success-toast-override" />

<Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(0.2)">


    <SubHeader OnArchiveAllClicked=@ArchiveNotifications Title="Notifikasjoner" MultipleSelectEnabled="@MultipleSelectEnabled"></SubHeader>
    @foreach (var item in appState.notReadNotifications)
    {
        <NotificationComponent isRead="false"
                               pushNotificationDto="item"
                               NotificationSwipe="HandleNotificationSwipe"
                               NotificationLongPress="HandleNotificationLongPress"
                               NotificationClick="HandleNotificationClick"
                               MultipleSelectEnabled="@MultipleSelectEnabled">

        </NotificationComponent>
    }

    @if (appState.notReadNotifications.Count == 0)
    {
        <div style="position: absolute; left: 50%;">
            <small style="position: relative; left: -50%;">Ingen notifikasjoner ennå...</small>
        </div>
    }

</Animate>


@code {
    HubConnection connection = null;


    public List<PushNotificationDto> SelectedNotifications { get; set; } = new List<PushNotificationDto>();

    public bool MultipleSelectEnabled { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {

        try
        {
            await appState.loadTemblarAppState();

            await authService.AuthorizeMe();

            // Retrieves id token from session storage and stores it in local storage
            await storageService.SetTokenFromSessionToLocal();

            if (appState.notReadNotifications.Count > 0)
            {
                if (appState.notReadNotifications.First().Notification.SeenAt == null)
                {
                    await notificationService.MarkAllNotificationsAsSeenCommand(appState.notReadNotifications.Last().Notification.Id);
                }
            }

            await notificationService.MyLatestNotifications();

            var result = await JSRuntime.InvokeAsync<ClientDevice>("blazorPushNotifications.requestSubscription");

            if (result != null)
            {
                await authService.AddClient(result);
            }

            await appState.setTemblarAppState();

        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }

        await Toast();

    }

    private async Task ArchiveNotifications()
    {
        if (MultipleSelectEnabled)
        {
            List<Guid> notificationsToMarkAsRead = new List<Guid>();
            SelectedNotifications.ForEach(item =>
            {
                notificationsToMarkAsRead.Add(item.Notification.Id);
                appState.notReadNotifications.Remove(item);
            });
            await notificationService.MarkAsRead(notificationsToMarkAsRead);
        }
        else
        {
            appState.notReadNotifications = new List<PushNotificationDto>();
            await notificationService.MarkAllMyNotificationsAsRead();
        }
    }

    private void HandleNotificationClick(PushNotificationDto pushNotificationDto)
    {
        if (SelectedNotifications.Contains(pushNotificationDto))
        {
            SelectedNotifications.Remove(pushNotificationDto);
        }
        else
        {
            SelectedNotifications.Add(pushNotificationDto);
        }

        if (SelectedNotifications.Count == 0)
        {
            MultipleSelectEnabled = false;
        }
    }

    private void HandleNotificationLongPress(PushNotificationDto pushNotificationDto)
    {
        MultipleSelectEnabled = true;
        SelectedNotifications.Add(pushNotificationDto);
    }


    private async Task HandleNotificationSwipe(PushNotificationDto pushNotificationDto)
    {
        List<Guid> notifications = new List<Guid>();
        notifications.Add(pushNotificationDto.Notification.Id);
        appState.notReadNotifications.Remove(pushNotificationDto);

        try
        {
            await notificationService.MarkAsRead(notifications);
            await appState.setTemblarAppState();
            await notificationService.MyLatestNotifications();
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }

    }

    public async Task Toast()
    {

        try
        {
            // Checks if app is in standalone mode
            if (await WindowService.isStandAlone())
            {
                // Returns without a toast
                return;
            }

            if(await WindowService.IsAndroid())
            {
                // Android have own message for PWA
                // Returns without a toast
                return;
            }

            // Checks if device is on iOS 
            if (await WindowService.IsiOS())
            {
                toastService.ShowInfo("1.Åpne Temblar i Safari. \n 2.Trykk på \"Share\"-knappen.\n 3.Velg \"Legg til på Hjem-skjerm.\" \n PWA Push notifikasjoner er ikke støttet på iOS. ", "Installer Temblar");
            }
            else
            {
                // Displayed on desktop
                toastService.ShowInfo("Åpne Temblar i Google Chrome.Trykk på ikonet (+) i høyre side av adressefeltet for å laste ned applikasjonen.", "Installer Temblar PWA");
            }
        }

        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }
}


