

<nav id="navbarSupportedContent" class="navbar fixed-top pl-2 py-0">
        <a class="navbar-brand navbar-logo" href="/">
            <img class="logo" src="./images/Asset 3.svg" alt="TradeSolution logo" width="120">
        </a>
        <AuthorizeView>
            <Authorized>
                    <span><LogoutButton/></span>             
            </Authorized>
        </AuthorizeView>
</nav>


@code {

}
