﻿@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject Temblar.Client.Services.TemblarAppState appState
@inject IJSRuntime JSRuntime
<AuthorizeView>
    <Authorized>
        <!--This button needs styling-->
        @*<button class="nav-link btn btn-link" @onclick="LogoutFromAd">Logg ut</button>*@
        <div class="navbar-nav text-white float-right">
            <a class="nav-link" @onclick="LogoutFromAd"><span style="font-size: 0.6rem;" id="logout_text">Logg ut</span></a>
        </div>
    </Authorized>
</AuthorizeView>

@code {

    private async Task LogoutFromAd()
    {
        await JSRuntime.InvokeVoidAsync("navigator.vibrate", 50);
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Vil du logge ut?");
        if (confirmed)
        {
            await appState.SignOut();
        }
    }
}
