﻿@inherits LayoutComponentBase
@using Blazored.Toast
@using Blazored.Toast.Services
@using Blazored.Toast.Configuration
@inject IToastService toastService

<Header />

<main class="mt-5 mb-5 container">
    @Body
</main>

<BottomNavbar />
