﻿@using Temblar.Shared.DTOs
@using System.Globalization


<div>
    <div class="d-flex flex-row justify-content-between">
        <h3 class="">@pushNotificationDto.Notification.DisplayName</h3>
        @if (pushNotificationDto.Notification.SeenAt != null)
        {
            <small>Seen @GetSeenAt()</small>
        }
    </div>
    <div class="d-flex flex-row justify-content-between">
        <p class="pl-2 m-0">@pushNotificationDto.Notification.DisplayMessage</p>
        @if (pushNotificationDto.Notification.ReadAt != null)
        {
            <small class="font-weight-light pt-2">Archived @GetReadAt()</small>
        }
    </div>
</div>

@code {
    [CascadingParameter] public PushNotificationDto pushNotificationDto { get; set; }

    private CultureInfo cultureInfo = CultureInfo.CreateSpecificCulture("de-DE");

    private string GetSeenAt()
    {
        return pushNotificationDto.Notification.SeenAt.Value.ToLocalTime().ToString("t", cultureInfo);
    }

    private string GetReadAt()
    {
        return pushNotificationDto.Notification.ReadAt.Value.ToLocalTime().ToString("m", cultureInfo); ;
    }
}
