﻿@using Temblar.Shared.DTOs
@using System.Globalization
@using System
@inject IJSRuntime JSRuntime 

    <div 
         id="@pushNotificationDto.Notification.Id" 
         class="noSelect swipe-element d-flex flex-column card w-auto my-1 p-2" 
         style="position: relative; @_notificaitonCss touch-action: none; @_actionColor" 
         @onclick="HandleNotificationClick"
         @ontouchstart="e => HandleTouchStart(e)" 
         @ontouchmove="e => HandleTouchMove(e)"
         @ontouchend="e => HandleTouchEnd(e)"
         @ontouchmove:preventDefault="true"
         >
        <div class="d-flex flex-row justify-content-between">
            <h3 class="font-weight-bold">@pushNotificationDto.Notification.DisplayName</h3>
            @if (pushNotificationDto.Notification.SeenAt != null)
            {
                <small class="font-weight-light">Seen @GetSeenAt()</small>
            }
        </div>
        <div class="d-flex flex-row justify-content-between">
            <p class="m-0">@pushNotificationDto.Notification.DisplayMessage</p>
            @if (pushNotificationDto.Notification.ReadAt != null)
            {
                <small class="font-weight-light">Archived @GetReadAt()</small>
            }
        </div>
    </div>

<style>


    .noSelect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
</style>


@code {
    [Parameter]
    public PushNotificationDto pushNotificationDto { get; set; }

    [Parameter]
    public EventCallback<PushNotificationDto> NotificationLongPress { get; set; }

    [Parameter]
    public EventCallback<PushNotificationDto> NotificationSwipe { get; set; }

    [Parameter]
    public EventCallback<PushNotificationDto> NotificationClick { get; set; }

    [Parameter]
    public bool MultipleSelectEnabled { get; set; }

    // sets functionality of swipe, used to differ notifications comming from archive vs index
    [Parameter]
    public Boolean isRead { get; set; }

    private CultureInfo cultureInfo = CultureInfo.CreateSpecificCulture("de-DE");

    // Sets left css property, used to manipulate element
    private double distanceToLeft = 0;

    // Sets color of element property, used to manipulate element
    private string color = "";

    // Sets the text color property
    private string textColor = "";

    // Tracked css style
    private string _notificaitonCss => $"left: {this.distanceToLeft}px;";

    // Tracked css style
    private string _actionColor => $"background-color: {color}; color: {textColor};";

    // Mutex to keep phone from virating nonstop
    private Boolean vibrated = false;

    // Creates an initial touch point at 0
    private TouchPoint initialTouch = new TouchPoint { ScreenX = 0, ScreenY = 0 };

    // State to keep track if user long presses
    // Is set to false if swipe distance exist
    private bool longPress = false;
    private bool selected = false;

    // Vibrate phone one time if swiped pass threshold
    private async Task vibratePhone()
    {
        if (!vibrated)
        {
            await JSRuntime.InvokeVoidAsync("navigator.vibrate", 50);
            vibrated = true;
        }
    }

    // If multiple select is enabled, a used may click to select additional items
    private async void HandleNotificationClick()
    {
        if (MultipleSelectEnabled)
        {
            if (selected)
            {
                SetInitialColors();
            }
            else
            {
                SetSelectedColors();
            }
            selected = !selected;
            await NotificationClick.InvokeAsync(pushNotificationDto);
        }
    }

    // Set initial position and start listening for long press
    private async void HandleTouchStart(TouchEventArgs args)
    {
            if (!MultipleSelectEnabled)
            {
                longPress = true;
                initialTouch = args.ChangedTouches[0];
                await Task.Delay(1000);
                if (longPress && !isRead)
                {
                    await vibratePhone();
                    selected = true;
                    SetSelectedColors();
                    await NotificationLongPress.InvokeAsync(pushNotificationDto);
                }
            }
    }

    // Swipe logic
    private async void HandleTouchMove(TouchEventArgs args)
    {
        // Dont track swiping if multiple select is enabled
        if (MultipleSelectEnabled)
        {
            return;
        }

        // Current finger position
        TouchPoint tp = args.ChangedTouches[0];

        // Change in touch from last called
        TouchPoint touchDiff = new TouchPoint
        {
            ScreenX = initialTouch.ScreenX - tp.ScreenX,
            ScreenY = initialTouch.ScreenY - tp.ScreenY
        };

        // Small optimization tests
        if(Math.Abs(touchDiff.ScreenX) < 2)
        {
            return;
        }

        // checks if swipe is horizontal
        if (Math.Abs(touchDiff.ScreenX) > Math.Abs(touchDiff.ScreenY))
        {
            distanceToLeft -= touchDiff.ScreenX;
            longPress = false;
        }

        if (!isRead && distanceToLeft < -100)
        {
            // Indicate change when element dragged 100 px
            SetSelectedColors();
            await vibratePhone();
        }
        else
        {
            SetInitialColors();
        }

        initialTouch = tp;
        await Task.Delay(40);
    }

    private void HandleTouchEnd(TouchEventArgs args)
    {
            if (distanceToLeft < -100 && !isRead)
            {
                NotificationSwipe.InvokeAsync(pushNotificationDto);
            }
            if (!longPress)
            {
                distanceToLeft = 0;
                vibrated = false;
                initialTouch = new TouchPoint { ScreenX = 0, ScreenY = 0 };
                SetInitialColors();
            }
            longPress = false;
    }

    private void SetInitialColors()
    {
        textColor = "000000";
        color = "#ffffff";
    }

    private void SetSelectedColors()
    {
        color = "#e20076";
        textColor = "#ffffff";
    }

    private string GetSeenAt()
    {
        return pushNotificationDto.Notification.SeenAt.Value.ToLocalTime().ToString("t", cultureInfo);
    }

    private string GetReadAt()
    {
        return pushNotificationDto.Notification.ReadAt.Value.ToLocalTime().ToString("m", cultureInfo); ;
    }
}

