﻿@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject Temblar.Client.Services.AuthorizationService authService
@inject Temblar.Client.Services.SourceService sourceService
@inject Temblar.Client.Services.TemblarAppState appState
@inherits Temblar.Client.Pages.Settings
    
<ul class="list-group">
    @foreach (var subscription in @Subscriptions)
     {
        <li class="list-group-item">
            <SubscriptionElement Source=@subscription />
        </li>
     }
</ul>


@code{
    [Parameter]
    public HashSet<KeyValuePair<string, Boolean>> Subscriptions { get; set; }

}